$cta-color: rgb(243, 62, 107);
$cta-text: white;
$bg-dark: rgba(0, 0, 0, 0.76);

$font-family: 'Seaweed Script', cursive;
$font-weight-bold: 600;
$font-weight-light: 300;

$sm-font-size: 1.5rem;
$lg-font-size: 12rem;