@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* text-align: center; */
}

/* * {
  outline: 1px solid red;
} */

@media (min-width: 768px) {
  /*Large screen  */
  .background-img {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('https://res.cloudinary.com/dtnif6mzm/image/upload/v1745671633/Sean%20Jackson%20Assets/SeanJacksonBand-20_vsqjnu.jpg');
    background-size: cover;
    background-position-x: 25svw;
    background-position-y: 40px;
  }
  
    .background-img::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      top: 0;
      width: 50%;
      height: 100%;
      z-index: 100;
      background: #000000;
      background: linear-gradient(90deg, rgba(0, 0, 0, 1) 54%, rgba(255, 255, 255, 0) 100%);
    }
}


@media (max-width: 768px) {
.background-img {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position-x: center;
  background-size: 175svh;
    background-image: url('https://res.cloudinary.com/dtnif6mzm/image/upload/v1745671636/Sean%20Jackson%20Assets/SeanJacksonBand-10_en1sht.jpg');
}
.background-img::after {
position: absolute;
content: '';
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: hsla(0, 0%, 0%, 0.3);
}
}

/* Reset default styles and apply some basic styling */
body, h1, p, ul, li, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* overflow-x: hidden; */
}

/* Apply basic styling for accessibility */
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
 align-items: center;
}

header {
  position: fixed;
  top: 0;
  background-image: radial-gradient( rgba(0,0,0,0) 1px,var(black) 1px );
  background-size: 4px 4px;
  backdrop-filter: brightness(100%) blur(3px);
  /* background-color: #333;
  color: #fff;
  padding: 10px 0; */
}


nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 5px 15px;
}

nav a:hover {
  background-color: #555;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #0056b3;
}
